#columns{
	/*border: 1px solid red;*/
	display: inline-block;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
/*	width: 100%;
	max-width: 985px;
	min-width: 200px;*/
}
.text-columns{
	/*border: 1px solid red;*/
	display: inline-block;
	/*margin: 0 auto;*/
	/*width: 20%;*/
	/*max-width: 290px;*/
	min-width: 252px;
	width: 31.5%;
	float: left;
	text-align:justify;
	margin-bottom: 30px;
}

#column1{
	/*border: 1px solid red;*/
/*	margin-left: 30px;
	margin-right: 10px;*/
}

#column2{
	/*border: 1px solid red;*/
	margin-left: 2.63%;
	margin-right: 2.63%;
}

#column3{
	/*border: 1px solid red;*/
/*	margin-left: 10px;
	margin-right: 30px;*/
}

.clear{
	clear: both;
}