body{
	background: #F0F0F0;
}

.entire-estructure{
	width: 100%;
	min-width: 800px;
	max-width: 985px;
	border-radius: 7px;	
	border: 1px solid darkgray;
	box-shadow: 0 0 7px #ABABAB;
	margin: 15px auto;
	background: white;
}

#top{
	height: 225px;
	margin: 30px auto 0px auto;
	background: gold;
	/*background: #111111*/;
}

#top-logo{
	/*border: 1px solid red;*/
	width: 100%;
	min-width: 800px;
	max-width: 985px;
	height: 185px;
	background: url(../images/logo.png) left no-repeat;
	background-size: 120px;
	background-position: 30px center;
}

#menu{
	width: 100%;
	min-width: 800px;
	max-width: 985px;
	margin: 0px auto;
	height: 40px;
	/*border: 1px red solid;*/
	font-family: Arial, sans-serif;
	text-align: center;
}

/*caixa de conteudo da aba servicos*/
.box-content{
	height: 500px;
	margin-top: 30px;
}


.box-image-1{
	background: url(../images/no-image.png) no-repeat;
	background-size: 250px;
	background-position: right;
	display: inline-block;
	width: 33%;
	height: 200px;
	float: right;
	/*margin-left: 7.6%;*/
	margin-top: 50px;
	/*border: 1px solid red;*/
}

.box-title-1{
	width: 67%;
	display: inline-block;
	/*border: 1px solid red;*/
	float: right;
	text-align: center;
	line-height: 130%;
	font-size: 30px;
	margin-top: 111px;
}

.box-image-2{
	background: url(../images/no-image.png) no-repeat;
	background-size: 250px;
	background-position: left;
	display: inline-block;
	width: 33%;
	height: 200px;
	float: left;
	/*margin-left: 7.6%;*/
	margin-top: 50px;
	/*border: 1px solid red;*/
}

.box-title-2{
	width: 67%;
	display: inline-block;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
	line-height: 130%;
	font-size: 30px;
	margin-top: 111px;
}

.box-text{
	display: inline-block;
	width: 85%;
	height: 40%;
	/*border: 1px solid red;*/
	clear: both;
	font-size: 20px;
	text-align: justify;
	margin-left: 7.5%;
	padding-top: 50px;

}

/*caixa de conteudo da aba servicos*/


#banner{
	width: 755px;
	height: 285px;
	margin: 75px auto;
	background: url(../images/banner.jpg);
	border-radius: 7px;
}

#columns-container{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

}

.columns{
	float: left;
	width: 30%;
	margin-bottom: 30px;
	text-align: justify;
}

#lateral-margin-column2{
	margin-left: 5%;
	margin-right: 5%;
}

.clear{
	clear: both;
}
#menu a{
	display: inline-block;
	height: 40px;
	width: 100px;
	text-decoration: none;
	color: #007EB0;
}

#menu a:hover{
	/*border: 1px solid red;*/
	color: #B51B1B;
	background: white;
}

#menu ul {
	/*border: 1px solid yellow;*/
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	height: 60px;
}

#menu li {
	/*border: 1px solid blue;*/
	margin: 0px;
	padding: 0px;
	height: 40px;
	width: 100px;
	display: inline-block;

}

#menu span{
	/*border: red solid 1px;*/
	line-height: 40px;
	display: inline-block;
}

#baseboard{
	background: white;
	margin: 15px auto;
}

#container-baseboard-elements{
	margin-top: 15px;
	margin-bottom: 15px;
}

.baseboard-elements{
	padding-left: 45px;
}

#local{
	/*border: 1px solid red;*/
	background: url(../images/local.png) left no-repeat;
	background-size: 20px;
	background-position: 15px;
}

#phone{
	/*border: 1px solid red;*/
	background: url(../images/phone.png) left no-repeat;
	background-size: 20px;
	background-position: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#email{
	/*border: 1px solid red;*/
	background: url(../images/email.png) left no-repeat;
	background-size: 20px;
	background-position: 15px;
}