/**{
	margin: 0px;
	padding: 0px;
}
*/
body{
	background: #F0F0F0;
}

#top{
	box-shadow: 0 0 7px #ABABAB;
	border-radius: 7px;
	width: 985px;
	height: 225px;
	margin: 30px auto 0px auto;
	background: gold;
}

#top-logo{
	
	width: 985px;
	height: 185px;
	background: url(../images/logo.png) left no-repeat;
	background-size: 120px;
	background-position: 30px center;
	/*border-radius: 7px 7px 0px 0px;*/
}

#menu{
	margin: 0px auto;
	height: 40px;
	width: 985px;
	/*background: gold;*/
	/*border: 1p 	x red solid;*/
	font-family: Arial, sans-serif;
	/*margin: 0 auto;*/
	text-align: center;
	/*border-radius: 0px 0px 7px 7px;*/
}

a{
	height: 40px;
	width: 100px;
	text-decoration: none;
	display: inline-block;
}

a:hover{
	color: red;
	background: white;
	/*border: 1px solid red;*/
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	/*border: 1px solid yellow;*/
	height: 60px;
}

#menu li {
	margin: 0px;
	padding: 0px;
	height: 40px;
	width: 100px;
	display: inline-block;
	/*border: 1px solid blue;*/
	/*margin-left: 20px;*/
	/*background: white;*/

}

#menu span{
	line-height: 40px;
	display: inline-block;
	/*margin: 12.5px 0px;*/
	/*border: red solid 1px;*/
}

#content{
	width: 985px;
	margin: 15px auto;
	border: 1px solid darkgray;
	border-radius: 7px;
	background: white;
	box-shadow: 0 0 7px #ABABAB;
	float: ;
}

#banner{
	width: 755px;
	height: 285px;
	margin: 75px auto;
	border: 1 px solid red;
	background: url(../images/banner.jpg);
	border-radius: 7px;
}

.text-columns{
	/*border: 1px solid red;*/
	display: inline-block;
	/*margin: 0 auto;*/
	width: 290px;
	float: left;
	text-align:justify;
}

#column1{
	/*border: 1px solid red;*/
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 30px;
}

#column2{
	/*border: 1px solid red;*/
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

#column3{
	/*border: 1px solid red;*/
	margin-left: 10px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.clear{
	clear: both;
}

#baseboard{
	width: 985px;
	height: 100px;
	margin: 15px auto;
	border: 1px solid darkgray;
	border-radius: 7px;
	background: white;
	box-shadow: 0 0 7px #ABABAB;
	float: ;
}

#local{
	/*border: 1px solid red;*/
	background: url(../images/local.png) left no-repeat;
	background-size: 20px;
	margin-top: 10px;
	padding-left: 45px;
	background-position: 15px;
}

#phone{
	background: url(../images/phone.png) left no-repeat;
	background-size: 20px;
	/*border: 1px solid red;*/
	margin-top: 10px;
	padding-left: 45px;
	background-position: 15px;
}

#email{
	background: url(../images/email.png) left no-repeat;
	background-size: 20px;
	/*border: 1px solid red;*/
	margin-top: 10px;
	padding-left: 45px;
	background-position: 15px;
}