*{
	margin: 0;
	padding: 0;
}

body{
	background: #F0F0F0;
}

.entire-estructure{
	width: 100%;
	min-width: 800px;
	max-width: 985px;
	border-radius: 7px;	
	border: 1px solid darkgray;
	box-shadow: 0 0 7px #ABABAB;
	margin: 15px auto;
	background: white;
}

#top{
	height: 225px;
	margin: 30px auto 0px auto;
	/* background: gold; */
	background: #111111;
}

#top-logo{
	/*border: 1px solid red;*/
	width: 100%;
	min-width: 800px;
	max-width: 985px;
	height: 185px;
	background: url(../images/logo-borda-degrade.png) left no-repeat;
	background-size: 120px;
	background-position: 30px center;
}

#menu{
	width: 100%;
	min-width: 800px;
	max-width: 985px;
	margin: 0px auto;
	height: 40px;
	/*border: 1px red solid;*/
	font-family: Arial, sans-serif;
	text-align: center;
}

/*caixa de conteudo da aba servicos*/
.box-content{
	height: 500px;
	margin-top: 30px;
}


.box-image-1{
	background: url(../images/no-image.png) no-repeat;
	background-size: 250px;
	background-position: right;
	display: inline-block;
	width: 33%;
	height: 200px;
	float: right;
	/*margin-left: 7.6%;*/
	margin-top: 50px;
	/*border: 1px solid red;*/
}

.box-title-1{
	width: 67%;
	display: inline-block;
	/*border: 1px solid red;*/
	float: right;
	text-align: center;
	line-height: 130%;
	font-size: 30px;
	margin-top: 111px;
}

.box-image-2{
	background: url(../images/no-image.png) no-repeat;
	background-size: 250px;
	background-position: left;
	display: inline-block;
	width: 33%;
	height: 200px;
	float: left;
	/*margin-left: 7.6%;*/
	margin-top: 50px;
	/*border: 1px solid red;*/
}

.box-title-2{
	width: 67%;
	display: inline-block;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
	line-height: 130%;
	font-size: 30px;
	margin-top: 111px;
}

.box-text{
	display: inline-block;
	width: 85%;
	height: 40%;
	/*border: 1px solid red;*/
	clear: both;
	font-size: 20px;
	text-align: justify;
	margin-left: 7.5%;
	padding-top: 50px;

}

/*caixa de conteudo da aba servicos*/

/* formatacoes para aba consultoria */

#consult-content{
	min-height: 500px;
}

#form-title{
	margin: 0;
	line-height: 2.5em;
	text-align: center;
	font-family: Arial, sans-serif;
	/* border: 1px solid red; */
	background: linear-gradient(#F8F8F8, #EEEEEE);
}

#div-form{
	/* border: 1px solid red; */
	width: 60%;
		margin: 50px auto;
	}

#form{
	/* display: inline-block; */
	width: 100%;
	margin: 15px auto;
	/* border: 1px solid red; */
}

#form label{
	display: block;
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	/* border: 1px solid red; */
}

#form input, #form textarea{
	background: #F8F8F8;
	border: 1px solid black ;
	border-radius: 5px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#form input:focus, #form textarea:focus{
	background: rgba(0, 133, 191, 0.15);
	border: 1px solid rgba(0, 133, 191, 1);
	box-shadow: 0 0 0 0;
	outline: 0;
	/* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
}

#form input:hover, #form textarea:hover{
	background: rgba(0, 133, 191, 0.05);
	border: 1px solid rgba(0, 133, 191, 1);
}

#btn-submit{
	background: rgba(101, 233, 255, 0.55);
	border: none;
	/* font-weight:600; */
	/* border-radius: 5px; */
	width: 90px;
	height: 40px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#btn-submit:focus{
	background: ;
	background: rgba(101, 233, 255, 1);
}

#btn-submit:hover{
	cursor: pointer;
}

/* 
#form textarea{
	border-radius: 5px;
	margin-bottom: 15px
} */

/* #form textarea:focus{
	background: rgba(0, 133, 191, 0.15);
} */

#nome{
	width: 100%;
}

#form-email{
	width: 100%;
}

#message{
	width: 100%;
}

/* #form{
	width: 100%;
	border: 1px solid gray;
	margin: 30px auto;
}

#form h3{
	border: 1px solid red;
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 3em;
	background: #ABABAB;
}

#group-fields{
	border: 1px solid red;
	width: 35%;
	float: left;
	margin-left: 10%;
}

#message-field{
	width: 35%;
	float: left;
	border: 1px solid red;
	margin-left: 10%;
}

label{
	display: block;
}

.field{
	margin-left: 10%;
}

.field input{
	margin-bottom: 15px;
}

#message{
	width: 100%;
}

#nome{
	width: 85%;
}

#email{
	width: 85%;
}

input{
	border-radius: 7px;
} */

/* formatacoes para aba consultoria */

#banner{
	width: 755px;
	height: 285px;
	margin: 75px auto;
	background: url(../images/banner.jpg);
	border-radius: 7px;
}

#columns-container{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

}

.columns{
	float: left;
	width: 30%;
	margin-bottom: 30px;
	text-align: justify;
}

#lateral-margin-column2{
	margin-left: 5%;
	margin-right: 5%;
}

.clear{
	clear: both;
}
#menu a{
	display: inline-block;
	height: 40px;
	width: 100px;
	text-decoration: none;
	color: #FFF;
}

#menu a:hover{
	/*border: 1px solid red;*/
	color: #B51B1B;
	background: white;
}

#menu ul {
	/* border: 1px solid yellow; */
	background: #007EB0;
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	height: 40px;
	/* width: 510px; */
	}

#menu-li{
	/* border: 1px solid re	d; */
	background: #007EB0;
	display: inline-block;
	margin: 0 auto;
}

#menu li {
	/* border: 1px solid gray; */
	margin: 0px;
	padding: 0px;
	height: 40px;
	width: 100px;
	float: left;
	/* border-right: 1px solid gray; */
	/* display: inline-block; */

}

#no-border{
	border-right: none;
}

#menu span{
	/*border: red solid 1px;*/
	line-height: 40px;
	/* display: inline-block; */
}

#baseboard{
	background: white;
	margin: 15px auto;
}

#container-baseboard-elements{
	margin-top: 15px;
	margin-bottom: 15px;
}

.baseboard-elements{
	padding-left: 45px;
}

#local{
	/*border: 1px solid red;*/
	background: url(../images/local.png) left no-repeat;
	background-size: 20px;
	background-position: 15px;
}

#phone{
	/*border: 1px solid red;*/
	background: url(../images/phone.png) left no-repeat;
	background-size: 20px;
	background-position: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#email{
	/*border: 1px solid red;*/
	background: url(../images/email.png) left no-repeat;
	background-size: 20px;
	background-position: 15px;
}